<h3>Add new subject</h3>
<form
  #addSubjectForm="ngForm"
  (ngSubmit)="onSubmit(addSubjectForm.value);"
>
  <mat-form-field>
    <input matInput placeholder="Name" name="subject_name" [(ngModel)]="subject_name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Description" name="subject_description" [(ngModel)]="subject_description">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="!subjectAddForm.valid">Add</button>
</form>

<h3>List Subjects</h3>
<table mat-table [dataSource]="listSubjects" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let subject"> {{subject.subject_id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let subject"> {{subject.subject_name}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let subject"> {{subject.subject_description}} </td>
  </ng-container>
  <ng-container matColumnDef="but_del">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let subject"> 
      <button mat-button color="warn" (click)="delete(subject)">
        x
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <!-- <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let subject of listSubjects">
      <td>{{ subject.subject_id }}</td>
      <td>
        <a (click)="editName(subject)">
          <span *ngIf="subject !== editSubjectName">{{
            subject.subject_name
          }}</span>
          <input
            #updateSubjectName
            *ngIf="subject === editSubjectName"
            name="subject_name"
            value="{{subject.subject_name}}"
            (blur)="update(subject.subject_id, updateSubjectName.value)"
            (keyup.enter)="update(subject.subject_id, updateSubjectName.value)"
          />
        </a>
      </td>
      <td>
        <a (click)="editDescription(subject)">
          <span *ngIf="subject !== editSubjectDescription">{{
            subject.subject_description
          }}</span>
          <input
            #updateSubjectDescription
            *ngIf="subject === editSubjectDescription"
            name="subject_description"
            value="{{subject.subject_description}}"
            (blur)="update(subject.subject_id, updateSubjectDescription.value)"
            (keyup.enter)="update(subject.subject_id, updateSubjectDescription.value)"
          />
        </a>
      </td>
      <td>
        <button class="delete" title="delete subject" (click)="delete(subject)">
          x
        </button>
      </td>
    </tr>
  </tbody> -->
</table>
