<div class="example-container mat-elevation-z8">
  <h4>Add new subject</h4>
<div class="example-container mat-elevation-z2">
  <form
    #addSubjectForm="ngForm"
    (ngSubmit)="
      onSubmit(addSubjectForm.value); name.value = ''; description.value = ''
    "
  >
    <mat-form-field>
      <input
        matInput
        #name
        placeholder="Name"
        name="subject_name"
        [(ngModel)]="subject_name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        #description
        placeholder="Description"
        name="subject_description"
        [(ngModel)]="subject_description"
      />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!subjectAddForm.valid"
    >
      Add
    </button>
  </form>
</div>

<h4>List Subjects</h4>
<div class="example-container mat-elevation-z2">
  <table mat-table #table [dataSource]="listSubjects">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let subject">{{ subject.subject_id }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let subject">
        <a (click)="editName(subject)">
          <span *ngIf="subject !== editSubjectName">{{
            subject.subject_name
          }}</span>
          <mat-form-field *ngIf="subject === editSubjectName">
            <input
              matInput
              #updateSubjectName
              value="{{ subject.subject_name }}"
              (blur)="update(subject.subject_id, updateSubjectName.value)"
              (keyup.enter)="
                update(subject.subject_id, updateSubjectName.value)
              "
            />
          </mat-form-field>
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let subject">
        <a (click)="editDescription(subject)">
          <span *ngIf="subject !== editSubjectDescription">{{
            subject.subject_description
          }}</span>
          <mat-form-field *ngIf="subject === editSubjectDescription">
            <input
              matInput
              #updateSubjectDescription
              value="{{ subject.subject_description }}"
              (blur)="
                update(subject.subject_id, updateSubjectDescription.value)
              "
              (keyup.enter)="
                update(subject.subject_id, updateSubjectDescription.value)
              "
            />
          </mat-form-field>
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="but_del">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let subject">
        <button mat-button color="warn" (click)="openDialog(subject)">
          x
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
</div>